.main-bgLogo {
    position: absolute;
    top: 204px;
    right: 0;
    width: 1285px;
    opacity: 0.09;
    z-index: 1;
    user-select: none;
}
.intro-primary {
    padding-top: 204px;
    padding-bottom: 48px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: var(
        --Gradient,
        linear-gradient(95deg, #145062 0%, #4696ae 100%)
    );

    &__line {
        width: 26px;
        height: 2px;
        border-radius: 2px;
        background-color: #b29966;
        display: inline-block;
    }
    &__text1 {
        display: inline-block;
        margin-left: 10px;
    }
    &__title {
        font-size: 50px;
        margin-bottom: 98px;
    }
    &__prev {
        width: 70px;
        height: 70px;
        border: 1px solid #b29966;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 24px;
        }
    }
    &__next {
        width: 70px;
        height: 70px;
        border: 1px solid #b29966;
        background-color: #145062;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 24px;
        }
    }
}

.intro-secondary {
    padding: 67px 0;

    &__container {
        display: flex;
        gap: 50px;
    }
    &__left {
        width: 488px;

        .image-wrapper-120 {
            padding-bottom: 132%;
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev,
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            top: auto;
            bottom: 20px;
            width: 43px;
            height: 43px;
            border: 1px solid #b29966;
            border-radius: 50%;
            color: #fff;
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after,
        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            font-size: 20px;
        }
    }
    &__right {
        flex: 1;
    }
    &__line {
        width: 26px;
        height: 2px;
        border-radius: 2px;
        background-color: #b29966;
        display: inline-block;
    }
    &__text1 {
        display: inline-block;
        margin-left: 10px;
    }
    &__title {
        font-size: 64px;
    }
}

.intro-tertiary {
    min-height: 100vh;
    background-image: url("../images/bg_5.png");
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        content: "";
        background-image: url("../images/coating_2.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
    }
    &__content {
        position: absolute;
        top: 200px;
        right: 0;
        max-width: 515px;
    }
    &__quote {
        font-size: 32px;
        position: relative;
        &::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" viewBox="0 0 29 21" fill="none"><path d="M7.408 20.672C6.128 20.672 4.95467 20.3307 3.888 19.648C2.864 18.9653 2.05333 18.0267 1.456 16.832C0.858667 15.6373 0.56 14.2507 0.56 12.672C0.56 11.3067 0.816 9.984 1.328 8.704C1.84 7.38133 2.56533 6.16533 3.504 5.056C4.48533 3.904 5.616 2.90133 6.896 2.048C8.176 1.152 9.56267 0.511998 11.056 0.127998L14 3.712C12.208 4.48 10.7573 5.44 9.648 6.592C8.58133 7.70133 8.048 8.64 8.048 9.408C8.048 9.87733 8.19733 10.3467 8.496 10.816C8.83733 11.2427 9.328 11.648 9.968 12.032C10.9493 12.7573 11.632 13.4613 12.016 14.144C12.4 14.8267 12.592 15.5733 12.592 16.384C12.592 17.7067 12.1013 18.752 11.12 19.52C10.1813 20.288 8.944 20.672 7.408 20.672ZM22.128 20.672C20.848 20.672 19.6747 20.3307 18.608 19.648C17.584 18.9653 16.7733 18.0267 16.176 16.832C15.5787 15.6373 15.28 14.2507 15.28 12.672C15.28 11.3067 15.536 9.984 16.048 8.704C16.56 7.38133 17.2853 6.16533 18.224 5.056C19.2053 3.904 20.336 2.90133 21.616 2.048C22.896 1.152 24.2827 0.511998 25.776 0.127998L28.72 3.712C26.928 4.48 25.4773 5.44 24.368 6.592C23.3013 7.70133 22.768 8.64 22.768 9.408C22.768 9.87733 22.9173 10.3467 23.216 10.816C23.5573 11.2427 24.048 11.648 24.688 12.032C25.6693 12.7573 26.352 13.4613 26.736 14.144C27.12 14.8267 27.312 15.5733 27.312 16.384C27.312 17.7067 26.8213 18.752 25.84 19.52C24.9013 20.288 23.664 20.672 22.128 20.672Z" fill="%23C1A875"/></svg>');
            font-size: 20px;
            position: absolute;
            left: -40px;
            top: 10px;
        }
        &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" viewBox="0 0 29 21" fill="none"><path d="M3.608 20.544L0.664 16.96C2.456 16.192 3.88533 15.2533 4.952 14.144C6.06133 12.992 6.616 12.032 6.616 11.264C6.616 10.7947 6.44533 10.3467 6.104 9.92C5.80533 9.45067 5.336 9.024 4.696 8.64C3.71467 7.91467 3.032 7.21067 2.648 6.528C2.264 5.84533 2.072 5.09866 2.072 4.288C2.072 2.96533 2.54133 1.92 3.48 1.152C4.46133 0.383996 5.72 -3.8147e-06 7.256 -3.8147e-06C8.536 -3.8147e-06 9.688 0.34133 10.712 1.024C11.7787 1.664 12.6107 2.60266 13.208 3.84C13.8053 5.03466 14.104 6.42133 14.104 8C14.104 9.36533 13.848 10.7093 13.336 12.032C12.824 13.312 12.0773 14.528 11.096 15.68C10.1573 16.7893 9.048 17.7707 7.768 18.624C6.488 19.4773 5.10133 20.1173 3.608 20.544ZM18.264 20.544L15.32 16.96C17.112 16.192 18.5413 15.2533 19.608 14.144C20.7173 12.992 21.272 12.032 21.272 11.264C21.272 10.7947 21.1013 10.3467 20.76 9.92C20.4613 9.45067 19.992 9.024 19.352 8.64C18.3707 7.91467 17.688 7.21067 17.304 6.528C16.92 5.84533 16.728 5.09866 16.728 4.288C16.728 2.96533 17.1973 1.92 18.136 1.152C19.1173 0.383996 20.376 -3.8147e-06 21.912 -3.8147e-06C23.192 -3.8147e-06 24.344 0.34133 25.368 1.024C26.4347 1.664 27.2667 2.60266 27.864 3.84C28.4613 5.03466 28.76 6.42133 28.76 8C28.76 9.36533 28.504 10.7093 27.992 12.032C27.48 13.312 26.7333 14.528 25.752 15.68C24.8133 16.7893 23.704 17.7707 22.424 18.624C21.144 19.4773 19.7573 20.1173 18.264 20.544Z" fill="%23C1A875"/></svg>');
            font-size: 20px;
            position: absolute;
            right: -25px;
            bottom: 10px;
        }
    }
}

.intro-quaternary {
    padding: 100px 0;
    &__wave1 {
        top: 0;
        left: 0;
    }

    &__list {
        margin-top: 65px;
    }
    &__item {
        margin-bottom: 20px;
    }
    &__time {
        position: relative;
        margin-bottom: 15px;
        padding-left: 40px;
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: linear-gradient(95deg, #145062 0%, #4696ae 100%);
            border-radius: 50%;
        }
    }

    &__des {
        padding-left: 40px;
        padding-bottom: 50px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            background-color: #b29966;
            top: 0;
            left: 10px;
        }
    }
}

.intro-quinary {
    padding-bottom: 100px;
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: -120px;
        left: auto;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: -120px;
        right: auto;
    }
    &__container {
        margin-top: 60px;
    }
    &__slideImage {
        img {
            width: 167px;
            height: 164px;
            object-fit: contain;
            object-position: center;
        }
    }
}

// news

.news-primary {
    padding: 67px 0;
    .articles {
        grid-gap: 24px;
    }
    .article {
        .article-des {
            display: none;
        }
        &:first-child {
            grid-column: 1/3;
            grid-row: 1/3;
            .article-content {
                margin-top: 20px;
            }
            .article-title {
                font-size: 25px;
            }
            .article-des {
                display: block;
            }
        }
        .article-content {
            margin-top: 15px;
        }
        .article-title {
            font-size: 15px;
        }
        .article-time {
            opacity: 0.5;
        }
    }
}

.pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

    &-item {
        &.disable {
            user-select: none;
            pointer-events: none;
        }
    }
    &-btn {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #b29966;
        background-color: #145062;
        border-radius: 50%;
        transition: all 0.2s;
        flex-shrink: 0;
        &.disable {
            background-color: #fff;
            border-color: #145062;
        }
        img {
            height: 12px;
        }
    }
    &-number {
        padding: 5px;
        font-size: 15px;
        &.active {
            color: #145062;
            font-weight: 600;
            text-decoration: underline;
        }
        &:hover {
            color: #b29966;
            text-decoration: underline;
        }
    }
}

// member
.member-primary {
    padding: 67px 0;
    &__wave1 {
        bottom: 0;
        left: 0;
        transform: translateY(40%);
    }

    &__tab {
        border-radius: 10px;
        background: var(--White, #fdfdfd);
        box-shadow: 0px 3px 10.8px 0px rgba(0, 0, 0, 0.15);
        height: 50px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    &__tabItem {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: #145062;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 10px;
        transition: all 0.2s;
        &.active {
            background: linear-gradient(91deg, #145062 0%, #4696ae 100%);
            color: #fdfdfd;
        }
    }
}

.table-primary {
    width: 100%;
    .table-row {
        border-bottom: 1px solid #145062;
        padding: 24px 0;
        display: block;
        &:first-child {
            border-top: 1px solid #145062;
        }
        &:nth-child(even) {
            color: #b29966;
            .table-colum-text2 {
                font-weight: 600;
                color: #b29966;
            }
        }
    }
    .table-colum {
        vertical-align: middle;
    }
    .table-colum--name {
        width: 30%;
        .table-colum-text2 {
            font-weight: 600;
            color: #145062;
        }
    }
    .table-colum--address {
        width: 25%;
    }
    .table-colum--phone {
        width: 15%;
        text-align: center;
    }
    .table-colum--web {
        width: 30%;
        text-align: center;
    }
}
.box-1490 {
    &__container {
        gap: 40px;
    }
}
// hotel
.side-primary {
    &__container {
        border-radius: 10px;
        border-top: 2px solid var(--Gradient, #145062);
        background: var(--White, #fdfdfd);
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
    }
    &__line {
        width: 83px;
        height: 2px;
        background: var(
            --Gradient-Yellow-2,
            linear-gradient(91deg, #b29966 0%, #f9cf79 100%)
        );
        margin: 30px 0;
    }

    &__group {
        border: 1px solid #145062;
        border-radius: 999px;
        height: 39px;
        .side-primary__input,
        .side-primary__select {
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            font-size: 15px;
        }
        .side-primary__select {
            width: 95%;
        }
        &:first-child {
            border-color: #b29966;
            &::-ms-input-placeholder {
                color: rgba($color: #1f1f1f, $alpha: 0.3);
                font-weight: 400;
                font-size: 15px;
            }

            &::placeholder {
                color: rgba($color: #1f1f1f, $alpha: 0.3);
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
    &__btn {
        margin-top: 20px;
    }

    &__itemBooking {
        font-size: 10px;
        color: #b29966;
        padding: 7px 15px;
    }
}
.hotel-primary {
    padding: 67px 0;
    &__wave1 {
        bottom: 0;
        left: 0;
        transform: translateY(40%);
    }

    &__container {
        margin-bottom: 50px;
        .article {
            display: flex;
        }
        .article-img {
            flex-shrink: 0;
            width: 45%;
            .image-wrapper {
                padding-bottom: 100%;
            }
        }
        .article-content {
            flex: 1;
            padding-left: 20px;
        }
        .article-star {
            span {
                position: relative;
                &:before {
                    content: "☆";
                    color: #b29966;
                    font-size: 20px;
                }
                &.checked {
                    &::before {
                        content: "★";
                        color: linear-gradient(91deg, #b29966 0%, #f9cf79 100%);
                    }
                }
            }
        }

        .pagination {
            justify-content: center;
        }
    }
}
