.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 32px 20px;
    background-color: transparent;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    &.sticky {
        padding: 24px 20px;
        background-color: #145062;
        .logo-img {
            width: 69px;
        }
    }

    &-search {
        max-width: 200px;
        background-color: rgba(253, 253, 253, 0.5);
        border-radius: 999px;
        border: 1px solid #145062;
        position: relative;

        &__form {
            width: 100%;
            height: 100%;
        }
        &__input {
            padding: 10px 40px 10px 20px;
            height: 39px;
            width: 100%;
            line-height: 1;
            color: #fdfdfd;
            &::-ms-input-placeholder {
                color: #fdfdfd;
                font-weight: 400;
                font-size: 15px;
            }

            &::placeholder {
                color: #fdfdfd;
                font-weight: 400;
                font-size: 15px;
            }
        }
        &__btn {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            img {
                width: 12px;
            }
        }
    }

    &-mb {
        &__leftIcon {
            padding: 10px;
            margin-left: -10px;
        }
        &__rightIconLanguage {
            padding: 10px;
            margin-right: -10px;
        }
        &__rightIconSearch {
            padding: 10px;
        }
        &__left {
            width: 70px;
        }
        &__right {
            width: 70px;
        }
        &__rightIcon {
            justify-content: flex-end;
        }
        &__rightSearch {
            height: 56px;
            background-color: #145062;
            padding: 15px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__rightSearchForm {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__rightSearchInput {
            flex: 1;
            color: #fff;
            font-size: 15px;
        }
        &__rightSearchBtn {
            padding: 10px;
            flex-shrink: 0;
            width: 48px;
            margin-right: -10px;
        }
    }
}
.logo {
    &-img {
        width: 127px;
        transition: all 0.2s ease-in-out;
    }
}

.navbar {
    padding-left: 87px;
    padding-right: 55px;

    &-link {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 26px;
            height: 2px;
            background-color: #b29966;
            border-radius: 999px;
            bottom: -7px;
        }
    }
    &-item {
        position: relative;
        &:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
    &-dropdown {
        position: absolute;
        min-width: 200px;
        color: #000;
        box-shadow: 1px 10px 21.3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 20px;
        transition: all 0.2s;
        display: none;
        &::before {
            content: "";
            position: absolute;
            top: -25px;
            left: 0;
            right: 0;
            height: 50px;
            background-color: transparent;
        }
        &__item {
            &:first-child {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            overflow: hidden;
        }
        a {
            padding: 10px 20px;
            display: block;
            transition: all 0.2s;
            background-color: #fff;
            &:hover {
                color: #fff;
                background-color: #145062;
            }
        }
    }
}

.language {
    padding-left: 58px;
    &-select {
        width: 120px;
    }
}

.sub-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    width: auto;
    color: #fff;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 0.2s;
    &.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    &__heading {
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
    &__headingClose {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        max-height: calc(100vh - 200px);
        margin-top: 30px;
        overflow: auto;
    }
    &__item {
        margin-top: 10px;
        font-size: 13px;
        line-height: 34px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 200;
        a {
            display: block;
        }
    }
}
